<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              {{ role.grade.value }} - {{ role.organisation.name }}
            </span>
        </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <ul class="govuk-list govuk-list--bullet">
            <li>This role {% if role.temporary_promotion %} was {% else %} was not {% endif %}a temporary promotion</li>
            <li>The candidate held this role from {{ role.date_started }}</li>
        </ul>

    </div>
</div>