{%  extends'layout.html' %}

{% block content %}
    <form class="form" action="" method="post">
        <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Is this a bulk update or a single update?
                </h2>
            </legend>

            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bulk-single-1" name="bulk-single" type="radio" value="single">
                    <label class="govuk-label govuk-radios__label" for="bulk-single-1">
                        Single
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bulk-single-2" name="bulk-single" type="radio" value="bulk">
                    <label class="govuk-label govuk-radios__label" for="bulk-single-2">
                        Bulk
                    </label>
                </div>
            </div>
        </div>
        <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    What kind of update is this?
                </h2>
            </legend>

            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="update-type-1" name="update-type" type="radio" value="role">
                    <label class="govuk-label govuk-radios__label" for="update-type-1">
                        Role
                    </label>
                </div>
            </div>
        </div>
        <div class="input submit">
            <input type="submit" value="Submit" class="govuk-button">
        </div>
    </form>
{%  endblock %}