{%  extends'layout.html' %}

{% block content %}
    <form class="form" action="" method="post">
        <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    What kind of update is this?
                </h2>
            </legend>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="update-type-1" name="update-type" type="radio" value="role">
                <label class="govuk-label govuk-radios__label" for="update-type-1">
                    Role
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="update-type-2" name="update-type" type="radio" value="name">
                <label class="govuk-label govuk-radios__label" for="update-type-2">
                    Name
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="update-type-3" name="update-type" type="radio" value="deferral">
                <label class="govuk-label govuk-radios__label" for="update-type-3">
                    Deferral
                </label>
            </div>
        </div>
        <div class="input submit">
            <input type="submit" value="Submit" class="govuk-button">
        </div>
    </form>
{%  endblock %}