{%  extends'layout.html' %}

{% block content %}
    <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Is this a single update or a bulk update?
          </h1>
        </legend>
        <form class="form" action="" method="post">
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="update-type-1" name="update-type" type="radio" value="single">
                <label class="govuk-label govuk-radios__label" for="update-type-1">
                  Single
                </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="update-type-2" name="update-type" type="radio" value="bulk">
                <label class="govuk-label govuk-radios__label" for="update-type-2">
                  Bulk
                </label> </div>
            </div>
            <div class="input submit">
                <input type="submit" value="Submit" class="govuk-button">
            </div>
        </form>
    </div>

{%  endblock %}